{% extends 'base.html.twig' %}

{% block title %}Editar Receta{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Receta</h1>
    </div>
    {{ include('receta/_delete_form.html.twig') }}
    {{ include('receta/_form.html.twig', {'button_label': 'Actualizar'}) }}

    
{% endblock %}
