{% extends 'base.html.twig' %}

{% block title %}Nuevo Ingrediente en Receta{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Agregar Ingrediente</h1>
    </div>

    {{ include('receta_ingrediente/_form.html.twig') }}
{% endblock %}
