{% extends 'base.html.twig' %}

{% block title %}New RecetaIngrediente{% endblock %}

{% block body %}
    <h1>Create new RecetaIngrediente</h1>

    {{ include('receta_ingrediente/_form.html.twig') }}

    <a href="{{ path('receta_ingrediente_index') }}">back to list</a>
{% endblock %}
