<form method="post" action="{{ path('apto_delete', {'id': apto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apto.id) }}">
    <button class="btn">Delete</button>
</form>
