<form method="post" action="{{ path('ingrediente_delete', {'id': ingrediente.id}) }}" onsubmit="return confirm('¿Esta seguro que desea eliminar este Ingrediente?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingrediente.id) }}">
    <a class="btn btn-success linea" href="{{ path('ingrediente_edit', {'id': ingrediente.id}) }}">Editar</a>
    <a class="btn btn-primary linea" href="{{ path('ingrediente_index') }}">Volver</a>
    <button class="btn btn-danger linea">Borrar</button>
</form>
