{% extends 'base.html.twig' %}

{% block title %}Ingrediente{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Ingrediente</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingrediente.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ ingrediente.descripcion }}</td>
            </tr>
        </tbody>
    </table>
    
    {{ include('ingrediente/_delete_form.html.twig') }}
    {% if existe is defined %}
    	{% if existe %}
            <div class="alert alert-danger" role="alert">
                 No se puede eliminar, este ingrediente esta siendo utilizado
            </div>
    	{% endif %}
    {% endif %}
{% endblock %}
