<form method="post" action="{{ path('unidad_delete', {'id': unidad.id}) }}" onsubmit="return confirm('¿Esta seguro que desea eliminar esta Unidad?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unidad.id) }}">
    <a class="btn btn-success linea" href="{{ path('unidad_edit', {'id': unidad.id}) }}">Editar</a>
    <a class="btn btn-primary linea" href="{{ path('unidad_index') }}">Volver</a>
    <button class="btn btn-danger linea">Borrar</button>
</form>
    