{% extends 'base.html.twig' %}

{% block title %}Editar Perfil{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Perfil</h1>
    </div>

    {{ include('perfil/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
